<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DogHouse</title>

  <!-- favicon -->
  <link rel="icon" href="favicon.ico">

  <!-- googlefonts -->
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;900&family=Varela+Round&display=swap" rel="stylesheet">

  <!-- StyleSheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">


</head>

<body>

  <!-- Navigation bar -->

  <section id="title">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <span><a class="navbar-brand" href="#">
            <img src="images/doghouselogowhite.png" width="100" height="60" alt="DogHouse logo" class="doghouselogo">
          </a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ml-auto">
            <li class="navbar-item <%= aboutactive %> ">
              <a class="nav-link" href="/about">קצת עלינו</a>
            </li>
            <li class="navbar-item <%= contactactive %> ">
              <a class="nav-link" href="/contact">צור קשר</a>
            </li>
            <li class="navber-item <%= mainactive %> ">
              <a class="nav-link" href="/">עמוד ראשי</a>
            </li>
          </ul>
        </div>
      </nav>