<%- include('partials/header'); -%>

</div>
</section>

<div class="container-fluid">
    <h1><%= aboutus.title %> </h1>
    <h3><%= aboutus.paragraph %> </h3>
</div>

<%- include('partials/footer'); -%>
