<%- include('partials/header'); -%>

</div>
</section>

<div class="container-fluid">

  <h1><%= fhe.title %></h1>

  <h3><%= fhe.paragraph %></h3>

  <img src="images/dogsad2.png" alt="a sad dog" class="sad-dog">

</div>

<%- include('partials/footer'); -%>
