<%- include('partials/header'); -%>

</div>
</section>

<div class="container-fluid">

  <h1>בקשתך נכשלה</h1>

  <h3>לצערינו בקשתך לא צלחה, אנא נסה שנית מאוחר יותר</h3>

  <img src="images/dogsad2.png" alt="a sad dog" class="sad-dog">

</div>

<%- include('partials/footer'); -%>
