<%- include('partials/header'); -%>

</div>
</section>

<div class="container-fluid">
  <h1><%= tsuhe.title %></h1>
  <img src="images/dogsticknobg.png" alt="dog holding a stick" class="dog-stick">
</div>



<%- include('partials/footer'); -%>
