<% if (lang === "en") { %> 
                <div class="border edit-border">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <h3>Edit the EPK page</h3>
                            <textarea name="EPK" id="mytextarea" cols="30" rows="10" form="saveForm"><%= epkcont.content %> </textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-success" form="saveForm">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
<% } else { %> 
   <div class="border edit-border">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h3>עריכת דף EPK</h3>
                <textarea name="EPK" id="mytextarea" cols="30" rows="10" form="saveForm"><%= epkcont.content %> </textarea>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-success" form="saveForm">שמור שינויים</button>
                </form>
            </div>
        </div>
    </div>
    <% } %> 