<% if (lang === "en") { %> 
<div class="border edit-border">
    <h3>Fail Page</h3>
    <div class="dropdown-divider"></div>
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <label class="form-label-sm">Fail Title</label>
            <input type="text" name="failTitle" form="saveForm" class="form-control form-control-sm" value="<%= failed.title %>">
        </div>
        <div class="col-lg-3">
            <label class="form-label-sm">Fail paragraph</label>
            <input type="text" name="failPara" form="saveForm" class="form-control form-control-sm" value="<%= failed.paragraph %>">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <button type="submit" class="btn btn-success" form="saveForm">Save Changes</button>
            </form>
        </div>
        <div class="col-lg-3">
            <form action="/default" method="post">
            <button type="submit" class="btn btn-danger">Restore to default values</button>
            </form>
        </div>
        <div class="col-lg-3">
            <form action="/lastmod" method="post">
            <button type="submit" class="btn btn-warning">Restore to last modified data</button>
            </form>
        </div>
    </div>
</div>
<% } else { %> 
    <div class="border edit-border">
        <h3>דף כישלון</h3>
        <div class="dropdown-divider"></div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <label class="form-label-sm">כותרת כישלון</label>
                <input type="text" name="failTitle" form="saveForm" class="form-control form-control-sm" value="<%= failed.title %>">
            </div>
            <div class="col-lg-3">
                <label class="form-label-sm">פסקאת כישלון</label>
                <input type="text" name="failPara" form="saveForm" class="form-control form-control-sm" value="<%= failed.paragraph %>">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <button type="submit" class="btn btn-success" form="saveForm">שמור שינויים</button>
                </form>
            </div>
            <div class="col-lg-3">
                <form action="/default" method="post">
                <button type="submit" class="btn btn-danger">חזור לערכים ברירת מחדל</button>
                </form>
            </div>
            <div class="col-lg-3">
                <form action="/lastmod" method="post">
                <button type="submit" class="btn btn-warning">חזור לערכים האחרונים שנשמרו</button>
                </form>
            </div>
        </div>
    </div>
<% } %> 